nav {
  background-color: rgb(66, 134, 244);
}

.login-body {
  background-image: url("background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* label color */
   .input-field label {
     color: #fff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: rgb(66, 134, 244);
   }

   .input-field input[type=password]:focus + label {
     color: rgb(66, 134, 244);
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid rgb(66, 134, 244);
     box-shadow: 0 1px 0 0 rgb(66, 134, 244);
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid rgb(66, 134, 244);
     box-shadow: 0 1px 0 0 rgb(66, 134, 244);
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid rgb(66, 134, 244);
     box-shadow: 0 1px 0 0 rgb(66, 134, 244);
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }

  .fillh {
    width: 100vw;
  }

  .center {
    margin: auto;
  }

  .add {
    background-color: rgb(66, 134, 244);
    width: 100vw;
    padding-left: 10px;
  }

.body {
  width: 100vw;
  height: 100vh;
  background-image: url("background.png");
}

  .add-input {
    margin: none;
    box-shadow: none;
    background-color: rgb(56, 124, 234);

  }

  .teacher-img {
    background-image: url("teacher.jpeg");
    background-size: cover;
    height: 100vh;
  }

  .desc {
    height: 100vh;
  }

  .title-text {

  }

.fill {
  width: 100vw;
  height: 100vh;
}

  .button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.button-white {
  transition: background-color 0.5s ease;
  background-color: white;
  color: black
}

.centerize {
  margin: auto;
}

.cont {
  margin-top: -200px;
  text-align: center;
}

.button-white:hover {
  background-color: rgba(255, 255, 255, 0.75);;
}

.students {
  padding: 10px;
  border-bottom: 1px solid gray;
}
